* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    display: flex;
    background: url("images/hero2.png.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
}

.profile-card {
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0 ;
    background-color: rgb(224, 106, 106);
}
.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}
 .profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
 }

 .media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;

 }

 .profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
 }

  .buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color:#4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons .button:hover{
    background-color: #0e4bf1;
  }
